.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:flex-start;
    height: 100vh;
    background:linear-gradient(to left,#891180, white);
    color: black;
    padding: 100px;
    padding-left: 200px;
  }
  
  
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #891180;
    color: white;
    cursor: pointer;
  }
  